* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  background: red;
}

.cardholder {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid blue;
  perspective: 1000px;
}

.cards {
  width: calc(25% - 10px);
  height: calc(33.33% - 10px);
  position: relative;
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.cards.flip {
  transform: rotateY(180deg);
}
.cards:active {
  transform: scale(0.97);
  transition: transform.2s;
}
.cards__front,
.cards__back {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  background: lightblue;
  position: absolute;
  border: 2px solid black;
  backface-visibility: hidden;
}

.cards__front {
  transform: rotateY(180deg);
}
